@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circleImg {
    background: linear-gradient(180deg, #89A0E4 0%, rgba(128, 155, 235, 0) 100%);

}